<app-font-demo [fontDescription]="'Open Sans Light'" [fontFamily]="'Open Sans'" [fontWeight]="'300'"
  [fontStyle]="'normal'">
</app-font-demo>

<app-font-demo [fontDescription]="'Open Sans Light Italic'" [fontFamily]="'Open Sans'" [fontWeight]="'300'"
  [fontStyle]="'italic'">
</app-font-demo>

<app-font-demo [fontDescription]="'Open Sans Regular'" [fontFamily]="'Open Sans'" [fontWeight]="'normal'"
  [fontStyle]="'normal'">
</app-font-demo>

<app-font-demo [fontDescription]="'Open Sans Italic'" [fontFamily]="'Open Sans'" [fontWeight]="'normal'"
  [fontStyle]="'italic'">
</app-font-demo>

<app-font-demo [fontDescription]="'Open Sans SemiBold'" [fontFamily]="'Open Sans'" [fontWeight]="'600'"
  [fontStyle]="'normal'">
</app-font-demo>

<app-font-demo [fontDescription]="'Open Sans SemiBold Italic'" [fontFamily]="'Open Sans'" [fontWeight]="'600'"
  [fontStyle]="'italic'">
</app-font-demo>

<app-font-demo [fontDescription]="'Open Sans Bold'" [fontFamily]="'Open Sans'" [fontWeight]="'bold'"
  [fontStyle]="'normal'">
</app-font-demo>

<app-font-demo [fontDescription]="'Open Sans Bold Italic'" [fontFamily]="'Open Sans'" [fontWeight]="'bold'"
  [fontStyle]="'italic'">
</app-font-demo>

<app-font-demo [fontDescription]="'Open Sans ExtraBold'" [fontFamily]="'Open Sans'" [fontWeight]="'800'"
  [fontStyle]="'normal'">
</app-font-demo>

<app-font-demo [fontDescription]="'Open Sans ExtraBold Italic'" [fontFamily]="'Open Sans'" [fontWeight]="'800'"
  [fontStyle]="'italic'">
</app-font-demo>